/* styles.css */

/* Background color with effect */
body {
    background-color: #f2f2f2;
    background-image: radial-gradient(circle, #ff5f6d, #ffc371);
  }
  
  
  @keyframes fly {
    0% {
      left: -100px;
    }
    100% {
      left: calc(100% + 100px);
    }
  }
  
  .bird {
    position: absolute;
    top: 150px;
    left: -100px;
    animation: fly 25s linear infinite;
  }
  
  .bird img {
    width: 80px;
  }
  
  
  
  
  /* Styling the welcome container */
  .welcome-container {
    text-align: center;
    margin-top: 100px;
  }
  
  .welcome-title {
    font-size: 36px;
    color: #333;
  }
  
  .welcome-message {
    font-size: 18px;
    color: #666;
    margin-top: 100px;
  }
  
  .welcome-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .welcome-button:hover {
    background-color: #0056b3;
  }
  
  /* Styling the header and footer */
  .header {
    /* Add your animation styles here */
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  
    padding: 20px;
  }
  
  .footer .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px; /* Adjust the gap value as needed */
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #007bff;
    text-decoration: none;
    margin-right: 50px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  /* Add the following CSS code to your existing styles.css file or create a new CSS file */
  
  nav {
    background-color: #ff5f6d; /* Primary color */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    position: relative;
  }
  
  nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #ffc371; /* Hover color */
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffc371; /* Submenu background color */
  }
  
  nav ul li:hover > ul {
    display: inherit;
    width: 100%;
    text-align: center;
  }
  
  nav ul ul li {
    width: 100%;
  }
  
  nav ul ul li a {
    padding: 10px 20px;
  }
  
  nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
  }
  
  nav ul ul ul li {
    position: relative;
    top: -40px;
    left: 0;
  }
  
  nav ul ul ul li a {
    padding: 10px 20px;
  }
  
  /* Adjusting Submenu Positioning */
  
  nav ul li:hover > ul > li {
    position: relative;
  }
  
  nav ul ul li:hover > ul {
    display: inherit;
    position: absolute;
    top: 0;
    left: 100%;
  }
  
  nav ul ul li:hover > ul > li {
    position: relative;
  }
  
  nav ul ul ul li:hover > ul {
    display: none;
  }
  
  
  